
D/.gradle/4.1/fileChanges/last-build.bin
D/settings.gradle
D/src/main/java/main.java
D/.idea/workspace.xml
D/build.gradle
D/.idea/modules/D_test.iml
D/.idea/modules/D.iml
D/.gradle/4.1/fileHashes/fileHashes.bin
D/.gradle/buildOutputCleanup/built.bin
D/.gradle/4.1/fileHashes/fileHashes.lock
D/.gradle/buildOutputCleanup/cache.properties.lock
D/.gradle/buildOutputCleanup/cache.properties
D/.idea/compiler.xml
D/.idea/libraries/Gradle__junit_junit_4_12.xml
D/.idea/gradle.xml
D/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
D/.idea/misc.xml
D/.idea/modules.xml
D/.idea/modules/D_main.iml
D/out/production/classes/main.class
D/.idea/uiDesigner.xml
